body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: gray;
}

header {
    background-color: rgb(37, 31, 31);
    color: rgb(107, 107, 240);
}

ol {
    list-style: none;
}

a {
    text-decoration: none;
}

ol h2 {
    border-radius: 30px;
    background-color: rgba(31, 30, 30, 0.377);
    padding: 10px 0px;
}

li {
    background-color: rgb(169, 169, 248);
    padding: 10px 20px;
    border-radius: 20px;
}