body {
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

header {
    padding: 0px 10px;
    background-color: grey;
    border: 1.5px orangered solid;
}

#inputs {
    margin: 10px;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#emptyList {
    display: flex;
    justify-content: center;
}

#list {
    display: none;
    list-style: none;
    text-align: center;
    color: black;
    border: 2px gray solid;
    flex-direction: column;
}